html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Merriweather', serif;

}

@media screen and (max-width: 910px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 12px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}


/*
* ----------------
*    Components
* ----------------
*/

.clearfix:after {
  /* use on parent container of floated items */
  content: "";
  display: table;
  clear: both;
}

.white-waves {
  background-image: url("./../assets/Background-1.jpg");

}



.content-section {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content-section .section-header {
  padding-top: 38px;
  padding-bottom: 35px;
}

.content-section .section-header h2 {
  font-size: 2.5rem;
  margin: 0;

}

.content-section .section-header p {
  font-size: 1.2rem;
  margin-top: 5px;
}





/*nav bar styles*/

#help-navbar {
  width: 100%;
  height: 55px;
  position: fixed;
  margin: 0;
  top: 0;
  background: none;
  z-index: 1;
  box-shadow: none;
  transition: all .5s;
}


/*change background to white */

#help-navbar {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#help-navbar.slide-up {
  top: -80px;
}

#help-navbar .help-navbar-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

#help-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#help-navbar ul li {
  float: left;
}

#help-navbar .help-navbar-links {
  width: 70%;
  padding: 20px 35px;
  float: right;
}

#help-navbar .social-media {
  float: right;
}

#help-navbar .help-navbar-logo,
#help-navbar .legacy-sections {
  float: left;
}

#help-navbar .help-navbar-logo {
  height: 100%;
  width: 30%;
}

#help-navbar .help-navbar-logo a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  background-image: url(../assets/LGlogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: none;
}

#help-navbar .legacy-mobile-on-button {
  width: 20%;
  height: 100%;
  float: right;
  position: relative;
  text-align: center;
  padding: 10px;
  display: none;
}

#help-navbar .legacy-mobile-on-button svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

#help-navbar .legacy-mobile-off-button {
  width: 20%;
  height: 75px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

#help-navbar .legacy-mobile-off-button svg {
  fill: #fff;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

#help-navbar .legacy-sections a {
  padding: 0 10px;
  color: #144B9E;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
}

#help-navbar.show #navhelp .legacy-sections a {
  color: #144B9E;
}

#help-navbar .social-media a {
  padding: 0px 7px;
}

#help-navbar .social-media ul {
  float: right;
}

#help-navbar .social-media img {
  height: 20px;
  vertical-align: middle;
}

#help-navbar a {
  font-weight: 100;
}


/* if screen is larger than 1200px */

@media screen and (min-width: 1200px) {
  #help-navbar .help-navbar-container {
    width: 85%;
  }
}


/* if screen is smaller than 910px */

@media screen and (max-width: 910px) {
  body.stopScrolling {
    overflow: hidden;
  }
  #help-navbar.slide-up {
    top: 0;
  }
  #help-navbar .help-navbar-links {
    width: 100vw;
    height: 100vh;
    padding: 8% 0;
    position: absolute;
    top: 0;
    right: 100%;
    float: none;
    background: rgba(0, 0, 0, 0.95);
    transition: all .2s;
  }
  #help-navbar .help-navbar-links.active {
    right: 0;
  }
  #help-navbar .legacy-mobile-on-button {
    display: block;
  }
  #help-navbar.show .legacy-mobile-on-button svg {
    fill: #000;
  }
  #help-navbar .legacy-mobile-off-button {
    display: block;
  }
  #help-navbar .help-navbar-links .legacy-sections {
    width: 100%;
    float: none;
  }
  #help-navbar .help-navbar-links .legacy-sections li {
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  #help-navbar .help-navbar-links .legacy-sections li:hover {
    background-color: #000;
  }
  #help-navbar .help-navbar-links .legacy-sections li a {
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin: 35px 0;
  }
  #help-navbar .help-navbar-links .legacy-sections li a:hover {
    color: #fff;
  }
  #help-navbar .help-navbar-links .social-media {
    width: 275px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  #help-navbar .help-navbar-links .social-media img {
    height: 40px;
  }
}


/* if screen is smaller than 750px */

@media screen and (max-width: 750px) {
  #help-navbar .help-navbar-logo a {
    background-image: url(../assets/mainlogo.png);
  }
}




/*
* --------------------
*     Help Page Section
* --------------------
*/

#help-page .section-header {
  margin-top: 50px;
}


.content-topics * {
  text-decoration: none;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.col-md-12 col-xs-12 col-lg-12 {
  padding-right: 100px;
  padding-left: 100px;
}



h2 {
  color: #000/*#1775BF*/;
}


hr {
  width: 500px;
  margin-top: 30px;
  margin-bottom: 20px;
}



.instructions {
  text-align: left ;
}

#help-page .white-waves content-section {
  text-align: left;
}





/*
* --------------------
*     footer Section
* --------------------
*/

footer {
  width: 100%;
  height: 60px;
  background-color: #262932;
  bottom: 0;
  left: 0;
  color: #E1E1E1;
  text-align: center;
  margin-top: 30px;
  z-index: 0;
}

footer p {
  padding: 1em 4em;
}
