html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

@media screen and (max-width: 910px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 12px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}


/*
* ----------------
*    Components
* ----------------
*/

.clearfix:after {
  /* use on parent container of floated items */
  content: "";
  display: table;
  clear: both;
}

.white-waves {
  background-image: url("./../assets/Background-1.jpg");
}

.blue-waves {
  background-image: url("./../assets/Background-2.jpg");
}

.blue-green-gradient {
  background-image: url("./../assets/about-cover1.jpg");
}

.lacity-background {
  background-image: url("./../assets/DowntownLA.jpg");
}

.grid-row {
  float: left;
}

.grid-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 9999999px) {
  .one-lg {
    width: 100%;
  }
  .two-lg {
    width: 50%;
  }
  .three-lg {
    width: 33.333333%;
  }
  .four-lg {
    width: 25%;
  }
  .five-lg {
    width: 20%;
  }
  .six-lg {
    width: 16.666666%;
  }
}

@media screen and (max-width: 1024px) {
  .one-md {
    width: 100%;
  }
  .two-md {
    width: 50%;
  }
  .three-md {
    width: 33.333333%;
  }
  .four-md {
    width: 25%;
  }
  .five-md {
    width: 20%;
  }
  .six-md {
    width: 16.666666%;
  }
}

@media screen and (max-width: 786px) {
  .one-sm {
    width: 100%;
  }
  .two-sm {
    width: 50%;
  }
  .three-sm {
    width: 33.333333%;
  }
  .four-sm {
    width: 25%;
  }
  .five-sm {
    width: 20%;
  }
  .six-sm {
    width: 16.666666%;
  }
}

@media screen and (max-width: 786px) {
  .one-xs {
    width: 100%;
  }
  .two-xs {
    width: 50%;
  }
  .three-xs {
    width: 33.333333%;
  }
  .four-xs {
    width: 25%;
  }
  .five-xs {
    width: 20%;
  }
  .six-xs {
    width: 16.666666%;
  }
}

/*nav bar styles*/

#legacy-navbar {
  width: 100%;
  height: 75px;
  position: fixed;
  margin: 0;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s;
  transition: all .5s;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*change background to white */


#legacy-navbar .legacy-navbar-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

#legacy-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#legacy-navbar ul li {
  float: left;
}

#legacy-navbar .legacy-navbar-links {
  width: 70%;
  padding: 17px 0px;
  float: right;
}

#legacy-navbar .social-media {
  float: right;
}

#legacy-navbar .legacy-navbar-logo,
#legacy-navbar .legacy-sections {
  float: left;
}

#legacy-navbar .legacy-navbar-logo {
  height: 100%;
  width: 30%;
}

#legacy-navbar .legacy-navbar-logo a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  background-image: url(../assets/LGlogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background .5s;
  transition: background .5s;
}


#legacy-navbar .legacy-mobile-on-button {
  width: 20%;
  height: 100%;
  float: right;
  position: relative;
  text-align: center;
  padding: 10px;
  display: none;
}

#legacy-navbar .legacy-mobile-on-button svg {
  width: 100%;
  height: 100%;
  fill: #000;
}

#legacy-navbar .legacy-mobile-off-button {
  width: 20%;
  height: 75px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

#legacy-navbar .legacy-mobile-off-button svg {
  fill: #fff;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

#legacy-navbar .legacy-sections a {
  padding: 0 10px;
  color: #144B9E;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#legacy-navbar .legacy-sections .mail-icon a {
  width: 50px;
  display: block;
  height: 18px;
  position: relative;
}

#legacy-navbar .legacy-sections .mail-icon svg {
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: #144B9E;
  transition: all 1s;
}


#legacy-navbar .social-media a {
  padding: 0px 7px;
  display: inline-block;
}

#legacy-navbar .social-media ul {
  float: right;
}

#legacy-navbar .social-media svg {
  height: 20px;
}

#legacy-navbar #wordpress-icon {
  fill: #00769D;
}

#legacy-navbar #facebook-icon {
  fill: #475993;
}

#legacy-navbar #youtube-icon {
  fill: #F61C0D;
}

#legacy-navbar #twitter-icon {
  fill: #76A9EA;
}

#legacy-navbar #linkedin-icon {
  fill: #0077B7;
}

#legacy-navbar .social-media svg {
  fill: #fff;
  transition: 1s;
}

#legacy-navbar a {
  font-weight: 500;
}


/* if screen is larger than 1200px */

@media screen and (min-width: 1200px) {
  #legacy-navbar .legacy-navbar-container {
    width: 95%;
  }
}


/* if screen is smaller than 910px */

@media screen and (max-width: 950px) {
  body.stopScrolling {
    overflow: hidden;
  }
  #legacy-navbar .legacy-navbar-links {
    width: 100vw;
    height: 100vh;
    padding: 8% 0;
    position: absolute;
    top: 0;
    right: 100%;
    float: none;
    background: rgba(0, 0, 0, 0.95);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  #legacy-navbar .legacy-navbar-links.active {
    right: 0;
  }
  #legacy-navbar .legacy-mobile-on-button {
    display: block;
  }
  #legacy-navbar .legacy-mobile-off-button {
    display: block;
  }
  #legacy-navbar .legacy-navbar-links .legacy-sections {
    width: 100%;
    float: none;
  }
  #legacy-navbar .legacy-navbar-links .legacy-sections li {
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  #legacy-navbar .legacy-navbar-links .legacy-sections li:hover {
    background-color: #000;
  }
  #legacy-navbar .legacy-navbar-links .legacy-sections li a {
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin: 35px 0;
  }
  #legacy-navbar .legacy-navbar-links .legacy-sections li a:hover {
    color: #fff;
  }
  #legacy-navbar .legacy-sections .mail-icon svg {
    height: 50px;
  }
  #legacy-navbar .legacy-navbar-links .social-media {
    width: 275px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  #legacy-navbar .legacy-navbar-links .social-media svg {
    height: 40px;
  }
}


/* if screen is smaller than 750px */

@media screen and (max-width: 750px) {
  #legacy-navbar .legacy-navbar-logo a {
    background-image: url(../assets/mainlogo.png);
  }
}


/*
* -----------------------
*     Help Page Section
* -----------------------
*/

.help-page-container {
  padding-top: 75px;
}


/*
* --------------------
*     footer Section
* --------------------
*/

footer {
  width: 100%;
  height: 60px;
  background-color: #262932;
  bottom: 0;
  left: 0;
  color: #E1E1E1;
  text-align: center;
  margin-top: 30px;
  z-index: 0;
}

footer p {
  padding: 1em 4em;
}
