html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Merriweather', serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*components*/

.feature-imgs.row .col {
  padding: 0;
}

.white-waves {
  background-image: url("./../assets/Background-1.jpg");
}

.blue-waves {
  background-image: url("./../assets/Background-2.jpg");
}

.lacity-background {
  background-image: url("./../assets/DowntownLA.jpg");
  background-size: contain;
}

.content-section {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content-section h2 {
  margin: 0 0 25px;
}


/*nav bar styles*/

#legacy-nav {
  position: fixed;
  top: 0;
  background: none;
  z-index: 1;
  box-shadow: none;
  transition: all .5s;
}

#legacy-nav.show {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#legacy-nav .legacy-nav-logo {
  height: 100%;
}

#legacy-nav .legacy-nav-logo a {
  height: 100%;
  display: block;
}

#legacy-nav .legacy-nav-logo img {
  height: 85%;
  vertical-align: middle;
}

#legacy-nav .nav-links a {
  padding: 0 5px;
  color: #144B9E;
}

#legacy-nav .nav-links a:hover {
  text-decoration: underline;
  background: none;
}

#legacy-nav .nav-links .col {
  padding: 0;
}

#legacy-nav .social-media-icon img {
  height: 20px;
  vertical-align: middle;
}

#lagacy-nav a {
  font-weight: 600;
}


/* Splash Video style */

#splash-video {
  height: 100%;
  max-height: 700px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#splash-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about-us .row,
#creativity-tools .row,
#match-3 .row,
#endless-run .row,
#new-technology .row,
#contact-us .row {
  margin: 0;
  font-weight: 600;
}


/* About US */

#about-us {
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

.about-legacy {
  text-align: center;
  font-size: 17px;
  font-weight: initial;
  padding-top: 0;
  padding-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

h5 {
  color: #1C3B73
}


/*.aboutfont {
  font-family: 'Merriweather', serif;
}*/


/* Creativity Tools */

#creativity-tools {
  text-align: center;
}

#match-3 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}


/* Contact Us */

#contact-us {
  height: 95%;
  width: 100%;
}

#contact-us h2 {
  text-align: center;
  padding-bottom: 20px;
}

#contact-us .info-container {
  width: 80%;
  margin: auto;
  background: rgba(0, 0, 0, .8);
  border-radius: 45px;
}

#contact-us .info-container form input[type=text] {
  background: #fff;
  border: none;
  height: 20px;
}

.lacity-background {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#address {
  padding: 65px 4.75rem;
  min-height: 1px;
}


