html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}


/*components*/


/* use on parent container of floated items */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.white-waves {
  background-image: url("./../assets/Background-1.jpg");
}

.blue-waves {
  background-image: url("./../assets/Background-2.jpg");
}

.about-cover1 {
  background-image: url("./../assets/about-cover1.jpg");
}

.lacity-background {
  background-image: url("./../assets/DowntownLA.jpg");
}

.white-waves.content-section,
.blue-waves.content-section,
about-cover1.content-section {
  height: auto;
  min-height: 362px;
  padding: 25px 0 0;
  margin-top: -22px;
  margin-bottom: 18px;
}

.content-section {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.image-container {
  width: 100%;
}

.image-container:after {
  content: "";
  display: table;
  clear: both;
}

.image-container > * {
  float: left;
}

.image-container .two-columns {
  width: 50%;
}

.image-container .three-columns {
  width: 33.333333%;
}

.image-container .four-columns {
  width: 25%;
}


/* PARTNERS ICONS */

.image-container .six-columns {
  width: 16.666666%;
}

.image-container img {
  width: 100%;
}


/*nav bar styles*/

#legacy-navbar {
  width: 100%;
  height: 75px;
  position: fixed;
  margin: 0;
  top: 0;
  background: none;
  z-index: 1;
  box-shadow: none;
  transition: all .5s;
}


/*change background to white */

#legacy-navbar.show {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#legacy-navbar.slide-up {
  top: -80px;
}

#legacy-navbar .legacy-navbar-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

#legacy-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#legacy-navbar ul li {
  float: left;
}

#legacy-navbar .legacy-navbar-links {
  width: 70%;
  padding: 17px 0px;
  float: right;
}

#legacy-navbar .social-media {
  float: right;
}

#legacy-navbar .legacy-navbar-logo,
#legacy-navbar .legacy-sections {
  float: left;
}

#legacy-navbar .legacy-navbar-logo {
  height: 100%;
  width: 30%;
}

#legacy-navbar .legacy-navbar-logo a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  background-image: url(../assets/LGlogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: none;
}

#legacy-navbar .legacy-mobile-on-button {
  width: 20%;
  height: 100%;
  float: right;
  position: relative;
  text-align: center;
  padding: 10px;
  display: none;
}

#legacy-navbar .legacy-mobile-on-button svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

#legacy-navbar .legacy-mobile-off-button {
  width: 20%;
  height: 75px;
  display: none;
  position: absolute;
  right: 0;
  padding: 10px;
}

#legacy-navbar .legacy-mobile-off-button svg {
  fill: #fff;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

#legacy-navbar .legacy-sections a {
  padding: 0 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
}

#legacy-navbar.show .legacy-sections a {
  color: #144B9E;
}

#legacy-navbar .social-media a {
  padding: 0px 7px;
}

#legacy-navbar .social-media ul {
  float: right;
}

#legacy-navbar .social-media img {
  height: 20px;
  vertical-align: middle;
}

#legacy-navbar a {
  font-weight: 100;
}


/* if screen is larger than 1200px */

@media screen and (min-width: 1200px) {
  #legacy-navbar .legacy-navbar-container {
    width: 85%;
  }
}


/* if screen is smaller than 910px */

@media screen and (max-width: 910px) {
  body.stopScrolling {
    overflow: hidden;
  }
  #legacy-navbar .legacy-navbar-logo a {
    /*background-image: url(../assets/mainlogo.png);*/
  }
  #legacy-navbar .legacy-navbar-links {
    width: 100vw;
    height: 100vh;
    padding: 0;
    position: absolute;
    top: 0;
    right: 100%;
    float: none;
    background: rgba(0, 0, 0, 0.95);
    transition: all .2s;
  }
  #legacy-navbar .legacy-navbar-links.active {
    right: 0;
  }
  #legacy-navbar .legacy-mobile-on-button {
    display: block;
  }
  #legacy-navbar.show .legacy-mobile-on-button svg {
    fill: #000;
  }
  #legacy-navbar .legacy-mobile-off-button {
    display: block;
  }
  #legacy-navbar .legacy-navbar-links .legacy-sections {
    width: 100%;
    float: none;
    margin: 75px 0 0;
  }
  #legacy-navbar .legacy-navbar-links .legacy-sections li {
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  #legacy-navbar .legacy-navbar-links .legacy-sections li:hover {
    background-color: #000;
  }
  #legacy-navbar .legacy-navbar-links .legacy-sections li a {
    display: inline-block;
    padding: 40px 0;
    font-size: 2rem;
    text-align: center;
    color: #fff;
  }
  #legacy-navbar .legacy-navbar-links .social-media {
    float: none;
  }
}

@media screen and (max-width: 750px) {
  #legacy-navbar .legacy-navbar-logo a {
    background-image: url(../assets/mainlogo.png);
  }
}


/* Splash Video style */

#splash-video {
  height: 100% !important;
  max-height: 1200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#splash-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.splash-section-overlay {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%);
}

.splash-section-overlay h1 {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 5em;
  text-shadow: 5px 7px #1775BF;
}

.splash-section-overlay p {
  font-size: 19px;
  margin-top: -40px;
}


/* Google Play icon */

#google-play {
  width: 10%;
}


/*
* --------------------
*     Page Sections
* --------------------
*/

.content-section h2 {
  margin: 0
}

.content-section p {
  margin-top: 0
}


/*
* ------------------
*     About Us
* ------------------
*/

#about-us {
  background-color: rgba(26, 100, 198, 0.2);
}

#about-us h5 {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 45px;
  padding-top: 85px;
}

.mission-statement p {
  color: #2c2c2c;
  font-size: 1.2em;
  font-style: serif;
  font-family: 'Nunito Sans', sans-serif;
  padding-bottom: 100px;
}


/*
* ------------------------
*     GAME SECTIONS
* ------------------------
*/

#creativity-tools,
#match-3,
#endless-runner h2 {
  font-size: 40px;
  color: #1775BF;
}

#creativity-tools,
#match-3,
#endless-runner p {
  font-size: 21px;
  color: #1775BF;
}

#services h2 {
  font-size: 40px;
  color: #fff;
}

#services p {
  font-size: 25px;
  color: #fff;
}


/*
* --------------------
*     PARTNERS SECTION
* --------------------
*/

#partners-section h2 {
  font-size: 40px;
  margin-bottom: 55px;
  margin-top: 25px;
  background: gray;
}

.six-columns img {
  border-radius: 51px;
  border: 2px solid #3678ad;
  background: #fff;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.six-columns img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}


/*
.six-columns .color-img {
  filter: none;
}
*/


/*
* --------------------
*     Contact Us
* --------------------
*/

#contact-us {
  height: 700px;
  background-size: cover;
  color: #fff;
}

#contact-us .contact-us-bg {
  margin: 0 auto;
  background: rgba(0, 0, 0, .8);
}

#contact-us .contact-us-bg,
#contact-us .info-container {
  width: 100%;
  height: 100%;
}

#contact-us .info-container > * {
  width: 100%;
  /* float: left;*/
}

#contact-us .info-container .input-field {
  width: 70%;
  height: 46px;
  margin: 20px auto;
  float: right;
}

#contact-us .info-container input,
#contact-us .info-container textarea {
  width: 50%;
  height: 100%;
}
